{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <img src="{{ item.item_image }}" class="card" height="450px">    
        </div>

        <div class="col-md-6">
            <h1>Name: {{item}}</h1>
            <h2>Desc: {{item.item_desc}}</h2>
            <h2>Price: {{item.item_price}} $</h2>
            <a href="{% url 'food:delete_item' item.id %}" class="btn btn-danger">Delete</a>

        </div>
    </div>
</div>

{% endblock %}